.sidebar {
	width: 100%;
	height: 100vh;
	background-color: #191c20;
	margin-right: 10%;
	overflow: auto;
}

.adminName .username{
	margin-top: 30px;
	margin-left: 7%;
}

ul {
	list-style: none;
	color:#5e5f61;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10%;
}

ul li{
	margin-bottom: 5%;


}

ul li a{

	font-size: 25px;
	font-weight: 600;

}
ul li a:active ,ul li a:focus, ul li a:hover{

	color:white;
}
