.CreatorName,
.CategoryName {
<<<<<<< HEAD
	color: var(--paragraph-color);
=======
	color: var(--paragaph-color);
>>>>>>> main
}
.CreatorName:hover,
.CategoryName:hover {
	color: var(--main-color);
}

.ItemsDetails > p {
<<<<<<< HEAD
	color: var(--paragraph-color) !important;
=======
	color: var(--paragaph-color) !important;
>>>>>>> main
}
.MinimumBidValue,
.AuctionDate {
	color: var(--alert-color) !important;
}

/* start timer style */
.timer {
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.timer > span {
	color: white;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.hrRight {
<<<<<<< HEAD
	border-right: 1.7px solid var(--paragraph-color);
=======
	border-right: 1.7px solid var(--paragaph-color);
>>>>>>> main
	margin-top: -24px;
	opacity: 0.25;
}
