.Bids {
	width: 100%;
	margin-top: -5px;
	max-height: 50vh !important;
	overflow-y: scroll;
	padding: 10px;
	padding-bottom: 5px;
	margin-bottom: 3vh;
	border: 0 !important;
}

.Bids::-webkit-scrollbar-thumb {
	background-color: var(--paragaph-color) !important;
}
.BidsContent {
	background-color: #111111 !important;
}

.BidsHeader {
	background-color: var(--paragaph-color) !important;
}

@media (max-width: 992px) {
	.Bids {
		max-height: 30vh !important;
	}
}
