.ViewCurrentAuction{height: 100vh!important	}

.ItemImage{
	color: white;
	margin-bottom: 10px;
	margin-top: 20vh;
	border-radius: 15px !important;
}


.Auction{
	height: 95vh;
	position: relative;
	border-left: 0.5px solid #3d3b3b96;
	padding-top: 5vh;
	padding-left: 3%;
}

.AuctionHeader{
	display: flex;
	max-width: 90%;
	border-bottom: 1px solid #34343496;
	margin-bottom: 10px;
}
.AuctionHeader > button {
	font-size: 15px;
	margin: 2px;
	margin-bottom: 0;
	color: var(--paragaph-color);
	cursor: pointer;
	transition: all 0.5;
	padding: 5px 15px !important;

}

.AuctionHeader > button:first-of-type{
	margin-left: 0;
}

.AuctionHeader > button:hover , .ActiveLink{
	background-color: var(--overlay-dark);
	color: white!important;
	border-bottom-color: white;
	border-bottom-left-radius: 20px solid white!important;
	border-bottom-right-radius: 20px solid white!important;
}
.AuctionHeader > button:focus{
	box-shadow: none;
}


.btnPlaceBid{
	background-color: var(--overlay-blue );
	color: white;
	position: absolute;
	bottom: 0px;
	width: 90% !important;
	right:15px;
	font-size: 20px;
	transition: all 0.5s;
	box-shadow: none!important;
}

.btnPlaceBid:hover{
	background-color: var(--overlay-dark);
	color: white;
	box-shadow: none!important;
}
.btnPlaceBid:focus{	box-shadow: none!important}

.btnReject {background-color: var(--alert-color); color: white;}

/* styles in small and extra small */

@media (max-width: 768px) {
	.Auction{
		height: fit-content!important;
		padding-bottom: 55px;
		padding-top: 0vh;

	}
	.Auction > h1 { padding-top: 0px!important;}
	.ItemImage{ margin-top: 10vh !important}
	.Auction{
		border-left: 0;
	}
}


@media (min-width: 769px) and (max-width:992px) {
	.Auction{
		height: fit-content!important;
		padding-bottom:100px;
		width: 80%;
    margin: 0 auto;
		padding-top: 0vh !important;

	}
	.Auction > h1 { padding-top: 0px !important;}

	.ItemImage{ margin-top: 10vh !important; margin-bottom: 5vh!important}

	.Auction{
		border-left: 0;
	}
}