.card_container_Profile {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	padding: 2% 3%;

	width: 80%;
	margin: 0 10% 0;
}
.card_profile{
	background-color: rgb(160, 71, 71);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	width: 49%;
	display: inline-block;
	margin-left: 1%;
	padding: 2% 0;
}
