.card_container_Profile {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	padding: 2% 3%;

	width: 80%;
	margin: 0 10% 0;
}
.card_profile {
	background-color: rgb(160, 71, 71);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	width: 49%;
	display: inline-block;
	margin-left: 1%;
	padding: 2% 0;
}

.star {
	cursor: pointer;
	transition: color 200ms;
	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-ms-transition: color 200ms;
	-o-transition: color 200ms;
}
.star_con {
	top: 70%;
	position: absolute;
	margin-left: 15px !important;
}
.rate_input {
	background: none;
	border: none;
	border-bottom: 2px solid white !important;
	border-radius: unset;
	color: white !important;
	box-shadow: none;
}
.rate_input:focus {
	background: none;
}
.addContainer {
	margin: 0 10%;
}
.save_rate_btn {
	width: 11% !important;
	margin-left: 10% !important;
	margin-top: 1% !important;
	border-radius: 15px;
}

.reviews_list:before,
.reviews_list:after {
	background-color: white;
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.reviews_list:before {
	right: 0.5em;
	margin-left: -50%;
}

.reviews_list:after {
	left: 0.5em;
	margin-right: -50%;
}
.reviews_card {
	width: 80% !important;
	position: relative;
	margin: 5% 10%;
	border-radius: 25px;
	box-shadow: 0px 3px 4px #889090;
	padding: 5% 25px !important;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.reviews_card h5,
.reviews_card p,
.reviews_card .star_container,
.reviews_card .cardDate {
	position: absolute;
	top: 37px;
	left: 20px;
}
.reviews_card p {
	top: 37px;
	left: 97px;
}
.reviews_card .star_container {
	top: 37px;
	left: 70%;
}
.reviews_card .cardDate {
	top: 6px;
	left: 83%;
	font-size: 14px;
}

/* ! Bar */
.chart-bar {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}

.chart-bar__inner {
	height: 20px;
	width: 25%;
	border-radius: 12px;
	background-color: #e4e5e9;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chart-bar__fill {
	background-color: #ffc107;
	height: 20px;
	/* width: 100%; */
	transition: all 0.3s ease-out;
}

.chart-bar__label {
	font-weight: bold;
	font-size: 0.5rem;
	text-align: center;
}
/* !end Bar */

input:disabled {
	background: none !important;
}
