.Categories{
	height: fit-content!important;
	width: fit-content!important;
	background-color: var(--dark-color);
	color: white;

	padding-bottom: 20px;
	position: absolute;
	top:41.99px;
	text-align: center;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1000;

	margin-right: 1%!important;
}

.CategoriesHeader{
	/* background-color: #191a19; */
	background-color:  #4f4e4c!important;
	padding-top: 25px!important;
	font-size: 20px;

	/* border-top: 2px solid white!important; */

}

li{ cursor: pointer; list-style: none;	padding: 10px ;}
li:hover{
	background-color: #4f4e4c!important;
	transition: all 0.5s;
}
.categoryBadge{
	background-color: #43758f;
}

/* ********************************************* */

/* start media query */

@media (max-width: 768px){
	.Categories{
    width: 100%!important;
		height: 100%!important;
    top: 0px;
    text-align: left;
    left: 0;
		padding-top: 10px;
		background-color: rgba(0, 0, 0, 1);
	}
}


/* end media query */
