.headerNav {
	height: fit-content;
	padding-top: 10%;
	padding-bottom: 10%;
	/* margin-right:5% ; */
	/* position: fixed; */
	width: 100%;
}

.barBtn {
	color: white;
	border: none;
	background-color: black;
}

.search {
	margin-left: 3%;
	background-color: #191c20 !important;
	border: none;
	outline: none;
	width: 100%;
	float: right;
}
.bar{

	border-left: 1px solid #191c20;
	margin-left: 5px;
	margin-right: 5px;
}
.adminImg{

	margin-left:25px;
}
