input{
	width:30%;
	padding: 5px !important;
	margin-left: 70%;
	background-color: var(--semiDark-color)!important;
	color: white!important;
	outline: none;
	border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px ;
	-ms-border-radius: 5px ;
	-o-border-radius: 5px ;
}
input::placeholder {
	color: white!important;
	opacity: 1;
	font-size: 14px !important;
}