.sidebar {
	width: 25vw;
	height: 100%;
	background-color: #191c20;
	margin-right: 10%;
	transition: all 0.5s;
	/* overflow-y: auto; */
	z-index: 1000;
	top: 0;
	position: fixed !important;
}
.logo {
	background-color: #191c24;
	box-shadow: 2px 5px 6px #1f1f1f;
	/* position: fixed; */
	z-index: 1000;
	/* margin: 0 auto; */
	/* width: 25%; */

	padding: 10px;
}
.logo span {
	color: #07b2ef;
}
.adminName .username {
	margin-left: -3% !important;
	/* display: inline-block; */
	margin-top: 2%;
	width: 75%;
}
.adminName {
	/* padding-top: 30%; */
	padding-top: 10%;

	margin-left: 5%;
	display: flex;
	justify-content: space-evenly;
}
.adminImg {
	margin-left: 15px;
	margin-right: 5px;
	color: var(--main-color);
	background-color: white;
	width: 18px;
	height: 18px;
	padding: 3px;
}

.sidebar ul {
	list-style: none;
	color: #5e5f61;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10%;
	margin-left: 8%;
}

.sidebar ul li {
	margin-bottom: 10%;
	/* min-width:100%; */
}

.sidebar ul li a {
	font-size: 17px;
	font-weight: 600;
}
.sidebar ul li a:active,
.sidebar ul li a:focus,
.sidebar ul li a:hover {
	color: white;
}

.username a {
	text-decoration: none;
}

@media screen and (max-width: 991px) {
	.sidebar {
		top: 52px;
	}
}
