*{
	font-family: 'Poppins', sans-serif;
}
html {
  --scrollbarBG: var(--dark-color);
  --thumbBG: var(--input-color);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


:root{
	--dark-color : #191A19 ;
	--light-color : #a2a2a2 ;
	--input-color : #5e5f5e;
	--active-color: #2666cf;
	--alarm-color : #DD523B;
}

.Register{
	background-color: var(--dark-color);
}

.Register > div{
	height: 100vh!important;
}

/* start register background */

.register-bg-overlay{
	background-color: #164da8;
	opacity: 0.1;
	top: 0;
	left: 0;
}

.register-bg .background {
	background-image:url("../../../assets/register-bg.png");
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 100%;

}
/* end register background */


/*register content*/
.register-content{
	background-color: var(--dark-color);
}

/*end register content*/

@media screen and (max-width:992px){
	.register-content{
		height: 100vh;
	}
	.register-content {
			background-color: black;
			opacity: 0.8;
			position: absolute;
			top: 0;
			right: 0;
			max-height: 100vh !important;
	}
}