.usersTable {
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	border-collapse: unset;
}
td {
	padding: 2% 0 0;
}
td a {
	margin-left: 2%;
}
thead tr td {
	border: none !important;
}

.editIcon {
	background-color: #191c20 !important;
}
