.form-control{
	background-color: #5e5f5e ;
	border-color: #5e5f5e;
	color: white!important;
	font-size: 15px;
	font-weight: 600 !important;
	padding: 0!important;
}

.input{
	width:100%;
	padding: 5px !important;
	background-color: #707070;
	margin-bottom: 15px;
}
.input::placeholder {
	color: white;
	opacity: 1;
/* padding:10px; */
	font-weight: bold;
	font-size: 14px !important;
}
.input:focus {
	background-color:#707070;
	color: white;
	font-weight: bold;
}
.alarm-input{
	background-color:#DD523B !important;
	border-color:#DD523B !important;
	color: white!important;
	margin-bottom: 0!important;
}

.alarm{
	color: var(--alarm-color);
	font-weight: 600;
	text-align: left;
	font-size: 10px;
	margin-top: 2px;
}

