.form-control{
	background-color: #5e5f5e ;
	border-color: #5e5f5e;
	color: white!important;
	font-size: 15px;
	font-weight: 600 !important;
	padding: 0!important;

}

input::placeholder{
	color: white!important;
	font-size: 10px;
	font-weight: 600 !important;
	padding-left: 5px;
}

input:focus{
	color: black!important;
}
.alarm-input{
	background-color:#DD523B !important;
	border-color:#DD523B !important;
	color: white!important;

}

.alarm{
	color: var(--alarm-color);
	font-weight: 600;
	text-align: left;
	font-size: 10px;
	margin-top: 2px;
}