.container {
	width: 90%;
	margin: 3%;
}

img {
	width: 250px;
	height:250px;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	/* margin-left: 3%; */
}
/* .buttons{
	margin-left: 20% !important;
	width:30%;
} */