.headerNav {
	width: 75%;
	left: 25% !important;
}
.barBtn {
	color: white;
	border: none;
	background-color: black;
}
.searchInput {
	width: 350px;
}
.search::placeholder {
	color: #BABBBD;
	font-size: 15px;
}
.search {
	margin-left: 3%;
	background-color: #191c20 !important;
	border: none !important;
	outline: none !important;
	width: 100%;
	float: right;
}
.bar {
	border-left: 1px solid #191c20;
	margin-left: 5px;
	margin-right: 5px;
}
.adminImg {
	margin-left: 25px;
}
