.Header {
	background-image: url('.././../../assets/pexels-abhilash-sahoo-4413295.jpg');
	background-size: cover;
	background-position: center;
	height: 70vh;
}

.overlay {
	background-color: var(--overlay-dark);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.HeaderContent {
	/* height: 70vh; */
	margin: 20vh auto;
	width: 80%;
	z-index: 100;
}

.HeaderContent h2 {
	color: var(--main-color) !important;
	font-weight: bolder;
}
.HeaderContent h4 {
	word-spacing: 4px;
}
/* ************************************************** */
/* start search css */
.Search {
	border-radius: 5px;
	color: black !important;
	font-weight: bold !important;
	width: 100%;
	margin-left: 0px !important;
	padding-top: 5px;
	position: relative;
}
.SearchInput:focus {
	border-color: var(--main-color) !important;
	box-shadow: 3px 1px 5px var(--main-color) !important;
	color: black !important;
}
.SearchInput {
	background-color: rgba(0, 0, 0, 0.2);
	border-color: var(--dark-color);
	color: black !important;
	padding: 1.5px;
	padding-left: 5px;
}
.SearchIcon {
	background-color: var(--main-color) !important;
	border-color: var(--main-color);
	color: white !important;
}

.SearchResult {
	background-color: var(--dark-color) !important;
	color: white;
	width: 100%;
	margin: auto;
	max-height: 170px;
	overflow-y: scroll;
	padding: 10px;
	position: absolute;
	z-index: 1000;
	border: 0 !important;

	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.SearchResult::-webkit-scrollbar-track {
	background: var(--dark-color) !important;
}
.SearchResult::-webkit-scrollbar-thumb {
	border-color: var(--dark-color) !important;
}

.SearchResult > p {
	padding: 0;
	margin: 0;
	padding-bottom: 6px;
}

/* end search css */

@media screen and (max-width: 992px) {
	.Header {
		height: 40vh;
	}
	.HeaderContent {
		margin-top: 15vh !important;
	}

	.Search {
		margin-left: 0px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.SearchResult {
		height: 120px;
	}
}

@media screen and (max-width: 768px) {
	.Header{height: 50vh;}
	.HeaderContent {
		width: 100%;
		margin-top: 20vh !important;

	}
	.HeaderContent h2 { font-size: 20px!important}
	.HeaderContent h4 { font-size: 16px!important}


	nav {
		padding: 0 !important;
	}
	.navbarBrand {
		font-size: 15px !important;
		font-weight: bold;
		font-size: 15px;
	}

	.Search {
		margin-left: 0px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.SearchResult {
		max-height: 150px !important;
	}
	.SearchInput {
		padding: 1px;
	}
}

@media (min-width: 992px) and (max-width : 1200px) {
	.Header{
		height: 70vh;
	}
}

