.chatList{
	min-height: 100%;
	width: 40%;
	position: absolute;
	top: 0px;
	left: 0;
	background-color: var(--dark-color);
}

.PageContentClasses {
	position: relative;
	background-color: black;
	margin: 10% 2% 5% 2%;
	width: 96%;

}