.dropdown a {
	background-color: #191c20 !important;
	border: none;
	font-size: 20px;
	margin-top: 20px;
	color: rgb(190, 184, 184) ;
	text-decoration: none;
	outline: none;
}
.dropdown a:hover,
.dropdown a:focus {
	box-shadow: none;
	color: White;
}

.username{

	margin-left: 1.5%;
}

.icon{
	display: inline-block;
}
.auction{
	color: #0763A7;
}
.users{
	color: orange;
}

.requests{

	color: yellow;
}

.listLink {
	width: 200px;
	padding: 7px;
	background-color: #191c20;
	color: white;
	border: none;
	margin-top: 0 !important;
	margin-left: 6%;
	/* display: inline-block; */
}

.linkIcon{

	margin-left: 5%;
	color:aliceblue;
	display: inline-block;
}
