.BiddingModal{ background-color: rgba(0, 0, 0, 0.4)}

.BiddingModal > div > div{
	background-color: #111111;
	color: white;
	width: 50%;
	box-shadow: 1px 2px 9px #2c2a2a
}

.BiddingModalHeader{
	border-bottom: 0;
	text-align: center;
	display: inline-block;
	padding: 20px 15px 0px;
}
.BiddingModalHeader > button {display: none;}

.BiddingModalHeader > div > p {
	color: var(--paragaph-color)!important;
}
.BiddingModalBody > p {color: #e9d8a6;}
.bidValue{color: var(--alert-color);}

.ModalBodyForm {
	padding-bottom: 30px;
	border-bottom: 0.2px solid var(--paragaph-color)!important;
}
.input-group-text{
	background-color: var(--alert-color);
	border-color: var(--alert-color);
	color: white;
}
.Alarm{color: var(--alert-color);}

.btnLogin{
	background-color: var(--paragaph-color)!important;
	color: black;
}
.btnCloseModal{
	background-color: var(--alert-color)!important;
	color: white;
}

.btnCloseModal:hover{
	background-color: var(--paragaph-color)!important;
	color: black;
}

.btnPlaceMyBid{
	background-color: var(--paragaph-color)!important;
	color: black;
}

.HideBorder{border-bottom: 0; border-top: 0}

@media (max-width:992px) {
	.BiddingModal > div > div{width: 90%;  margin:0 auto;}
}