*{
	font-family: 'Poppins', sans-serif;
}



/* start paragraph  && headings styles */
h3{
	color: white;
	padding: 20px 0 10px 0px;
	font-weight: 600;
}

p{
	text-align: left;
	font-weight: 600;
	font-size: 10px;
}

.stepParagraph{
	color: #A2A2A2;
	font-size: 15px;
}

.contactDetails{
	font-size: 12px;
	margin-bottom: 0px;
	padding: 5px;
}


.notification, label{
	color: #2666CF!important;
	font-size: 14px;
}

.alert{
	color: #DD523B!important;
	font-weight: bolder!important;
}

/* end paragraph styles */

/* ********************************************** */

/* start input styles */

input:focus{
	box-shadow: none!important;
}

input{
	color: black!important;
	font-weight: 600 !important;
}

/* end input styles */



.btn-next{
	background-color: var(--active-color);
	color: white;
	position: absolute;
	bottom: -18px;
	left: 15%;
	font-weight: 600;
	font-size: 20px;
}


.btnPhoneNum{
	background-color: #2666CF !important;
	color: white;
}

button:disabled{
	background-color: #a7aaa7;
	color: black;
	font-weight: 600;
	opacity: 1!important;
}

