*{
	font-family: 'Poppins', sans-serif;
}



/* start paragraph  && headings styles */
h3{
	color: white;
	padding: 25px 0 8px 0px;
	font-weight: 600;
}

p{
	text-align: left;
	font-weight: 600;
	font-size: 10px;
}

.stepParagraph{
	color: #A2A2A2;
	font-size: 15px;
}

.contactDetails{
	font-size: 12px;
	margin-bottom: 0px;
	padding: 5px;
}


.notification{
	color: #A2A2A2;
	font-size: 13px;
}

.alert{
	color: #DD523B!important;
	font-weight: bolder!important;
}

/* end paragraph styles */

/* ********************************************** */

/* start input styles */

input:focus{
	box-shadow: none!important;
}

input{
	color: black!important;
	font-weight: 600 !important;
}

/* end input styles */



.btn-next{
	background-color: var(--active-color);
	color: white;
	position: absolute;
	bottom: -18px;
	left: 15%;
	font-weight: 600;
	font-size: 20px;
}


.btnPhoneNum{
	background-color: #2666CF !important;
	color: white;
}

button:disabled{
	background-color: #a7aaa7;
	color: black;
	font-weight: 600;
	opacity: 1!important;
}



/*start step 4*/





.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
	margin-bottom: 25px;
}

.code {
  border-radius: 5px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  border: 1px solid;
  background-color: #fff;
  border: 1px solid #2666cf;
  outline-width: thin;
  outline-color: #5e5f5e;
  text-align: center;
  -moz-appearance: textfield;
  margin-left: 5px;
	font-size: 10px;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}


/*end step 4*/
@media screen and (max-width:992px){
	.contactDetails{
		padding: 10px;
	}
}