:root{
	--dark-color 			: #191A19 ;
	--semiDark-color 	: #4f4e4c;
	--overlay-dark 		: rgba(0, 0, 0, 0.68);

	--paragaph-color 	: #A2A2A2;
	/* --input-dark-color: #707070; */

	--btnActive-color	: #2666cf;
	--main-color 			: #5595b7;
	--overlay-blue 		: #164da8;

	--alert-color 		: #DD523B;

}

*{
	font-family: 'Amiri', serif;
	box-sizing: border-box;


}



/*start animation */
.animation{
	animation: slide-from-left 500ms;
  animation-timing-function: linear;
}

.animation-top{
	animation: 	slide-from-top 500ms;
  animation-timing-function: linear;
	transition: all 0.5;
}
.animation-from-bottom{
	animation: slide-from-bottom 500ms;
}
/*end animation */




/* ************************************** */
/* Key frames*/
@keyframes slide-from-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes slide-from-top{
	from {
		transform: translateY(-10%);
	}
	to {
		transform: translateY(0%);
	}
}
