:root {
	--dark-color: #191a19;
	--light-color: #a2a2a2;
	--input-color: #5e5f5e;
	--active-color: #2666cf;
	--alarm-color: #dd523b;
}

html {
	--scrollbarBG: var(--dark-color, #191a19);
	--thumbBG: var(--input-color);
	background-color: var(--dark-color);
}
<<<<<<< HEAD
.scrollbar::-webkit-scrollbar,
=======
.scollbar::-webkit-scrollbar,
>>>>>>> main
body::-webkit-scrollbar {
	width: 11px;
}
body,
<<<<<<< HEAD
.scrollbar {
=======
.scollbar {
>>>>>>> main
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
<<<<<<< HEAD
.scrollbar::-webkit-scrollbar-track {
=======
.scollbar::-webkit-scrollbar-track {
>>>>>>> main
	background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb,
<<<<<<< HEAD
.scrollbar::-webkit-scrollbar-thumb {
=======
.scollbar::-webkit-scrollbar-thumb {
>>>>>>> main
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}
