:root {
	--main-font: 'Poppins', 'sans-serif';
	--input-dark-color: #707070;
}
.form-container {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;

	padding: 10%;
}

.input {
	background-color: var(--input-dark-color);
	border: none;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 100%;
	color: white;
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 20px;
}
.input::placeholder {
	color: white;
	opacity: 1;
	font-family: var(--main-font);
	font-weight: bold;
}
.input:focus {
	background-color: var(--input-dark-color);
	color: white;
	font-family: var(--main-font);
	font-weight: bold;
}
.checkbox {
	margin-left: 5% !important;
	display: inline-block;
}
.text {
	display: flex;
	justify-content: space-between;
	margin: 0 -1% 0 -4%;
	/* margin-right: 5px; */
}
form button {
	width: 100%;
	margin-top: 5%;
}
.accounts {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
	margin-left: 5%;
	width:90%;
}
.accounts img{
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 992px) {
	.input {
		width: 100% !important;
	}
	.checkbox {
		/* margin-left: 25% !important; */
	}
}
